U-type line/flows dashboard.json
[
    {
        "id": "7d51e0e28c938aef",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "168b5de6506dd699",
        "type": "mqtt in",
        "z": "7d51e0e28c938aef",
        "name": "",
        "topic": "txt/setup/milling",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd0c1e69b36c0103",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 300,
        "wires": [
            [
                "297235f8168ce0eb"
            ]
        ]
    },
    {
        "id": "297235f8168ce0eb",
        "type": "ui_slider",
        "z": "7d51e0e28c938aef",
        "name": "",
        "label": "milling",
        "tooltip": "",
        "group": "3467e17860975fbe",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "7",
        "max": "27",
        "step": 1,
        "className": "",
        "x": 310,
        "y": 300,
        "wires": [
            [
                "50d5168bba193eda",
                "daa7f4ac3706fd4c"
            ]
        ]
    },
    {
        "id": "a7813142ca53cb33",
        "type": "mqtt in",
        "z": "7d51e0e28c938aef",
        "name": "",
        "topic": "txt/setup/drilling",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "fd0c1e69b36c0103",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 380,
        "wires": [
            [
                "5bfc4a09a426e63b"
            ]
        ]
    },
    {
        "id": "5bfc4a09a426e63b",
        "type": "ui_slider",
        "z": "7d51e0e28c938aef",
        "name": "",
        "label": "drilling",
        "tooltip": "",
        "group": "3467e17860975fbe",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "outs": "end",
        "topic": "topic",
        "topicType": "msg",
        "min": "13",
        "max": "33",
        "step": 1,
        "className": "",
        "x": 310,
        "y": 380,
        "wires": [
            [
                "5b339b154ce0e53f",
                "eb0ed906cdb0a254"
            ]
        ]
    },
    {
        "id": "50d5168bba193eda",
        "type": "mqtt out",
        "z": "7d51e0e28c938aef",
        "name": "",
        "topic": "txt/setup/milling",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd0c1e69b36c0103",
        "x": 500,
        "y": 300,
        "wires": []
    },
    {
        "id": "5b339b154ce0e53f",
        "type": "mqtt out",
        "z": "7d51e0e28c938aef",
        "name": "",
        "topic": "txt/setup/drilling",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd0c1e69b36c0103",
        "x": 500,
        "y": 380,
        "wires": []
    },
    {
        "id": "eb0ed906cdb0a254",
        "type": "ui_text",
        "z": "7d51e0e28c938aef",
        "group": "3467e17860975fbe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualny czas drilling:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 440,
        "wires": []
    },
    {
        "id": "daa7f4ac3706fd4c",
        "type": "ui_text",
        "z": "7d51e0e28c938aef",
        "group": "3467e17860975fbe",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualny czas milling:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 520,
        "y": 340,
        "wires": []
    },
    {
        "id": "switch_mode",
        "type": "ui_switch",
        "z": "7d51e0e28c938aef",
        "name": "",
        "label": "TRYB PRACY (OFF=Ręczny, ON=Kolejka)",
        "tooltip": "",
        "group": "f40584271a46f666",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "txt/mode",
        "topicType": "str",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 190,
        "y": 680,
        "wires": [
            [
                "mqtt_out_mode",
                "text_mode_status"
            ]
        ]
    },
    {
        "id": "mqtt_out_mode",
        "type": "mqtt out",
        "z": "7d51e0e28c938aef",
        "name": "",
        "topic": "txt/mode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd0c1e69b36c0103",
        "x": 600,
        "y": 680,
        "wires": []
    },
    {
        "id": "text_mode_status",
        "type": "ui_text",
        "z": "7d51e0e28c938aef",
        "group": "f40584271a46f666",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Aktualny Tryb:",
        "format": "{{msg.payload ? \"KOLEJKA (Automatyczny)\" : \"RĘCZNY (Na żywo)\"}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": "",
        "color": "#000000",
        "x": 400,
        "y": 740,
        "wires": []
    },
    {
        "id": "btn_add_queue",
        "type": "ui_button",
        "z": "7d51e0e28c938aef",
        "name": "",
        "group": "f40584271a46f666",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "DODAJ DO KOLEJKI",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "button_click",
        "topicType": "str",
        "x": 180,
        "y": 980,
        "wires": [
            [
                "function_create_job"
            ]
        ]
    },
    {
        "id": "function_create_job",
        "type": "function",
        "z": "7d51e0e28c938aef",
        "name": "Buduj Zadanie",
        "func": "\nvar m = flow.get(\"temp_milling\") || 17;\nvar d = flow.get(\"temp_drilling\") || 23;\n\nvar job = {\n    \"m\": m,\n    \"d\": d\n};\n\nmsg.payload = JSON.stringify(job);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 980,
        "wires": [
            [
                "mqtt_out_queue",
                "debug_queue"
            ]
        ]
    },
    {
        "id": "mqtt_out_queue",
        "type": "mqtt out",
        "z": "7d51e0e28c938aef",
        "name": "",
        "topic": "txt/queue/add",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "fd0c1e69b36c0103",
        "x": 620,
        "y": 980,
        "wires": []
    },
    {
        "id": "slider_m_temp",
        "type": "ui_slider",
        "z": "7d51e0e28c938aef",
        "name": "",
        "label": "Ustaw Czas Frezowania",
        "tooltip": "",
        "group": "f40584271a46f666",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "7",
        "max": "27",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 860,
        "wires": [
            [
                "change_save_m"
            ]
        ]
    },
    {
        "id": "slider_d_temp",
        "type": "ui_slider",
        "z": "7d51e0e28c938aef",
        "name": "",
        "label": "Ustaw Czas Wiercenia",
        "tooltip": "",
        "group": "f40584271a46f666",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "",
        "topicType": "str",
        "min": "13",
        "max": "33",
        "step": 1,
        "className": "",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "change_save_d"
            ]
        ]
    },
    {
        "id": "change_save_m",
        "type": "change",
        "z": "7d51e0e28c938aef",
        "name": "Zapisz do Flow",
        "rules": [
            {
                "t": "set",
                "p": "temp_milling",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "change_save_d",
        "type": "change",
        "z": "7d51e0e28c938aef",
        "name": "Zapisz do Flow",
        "rules": [
            {
                "t": "set",
                "p": "temp_drilling",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 420,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "debug_queue",
        "type": "debug",
        "z": "7d51e0e28c938aef",
        "name": "Wysłano do kolejki",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 920,
        "wires": []
    },
    {
        "id": "ui_spotify_embed",
        "type": "ui_template",
        "z": "7d51e0e28c938aef",
        "d": true,
        "group": "f40584271a46f666",
        "name": "Odtwarzacz Spotify",
        "order": 10,
        "width": "6",
        "height": "4",
        "format": "<iframe data-testid=\"embed-iframe\" style=\"border-radius:12px\"\n    src=\"https://open.spotify.com/embed/artist/2j2UkX1yKVgfoXrdF06SkS?utm_source=generator&theme=0\" width=\"100%\"\n    height=\"352\" frameBorder=\"0\" allowfullscreen=\"\"\n    allow=\"autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture\" loading=\"lazy\"></iframe>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1130,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "fd0c1e69b36c0103",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "3467e17860975fbe",
        "type": "ui_group",
        "name": "Control",
        "tab": "06e3631832aa0ed0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": "Control"
    },
    {
        "id": "f40584271a46f666",
        "type": "ui_group",
        "name": "Queue",
        "tab": "06e3631832aa0ed0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06e3631832aa0ed0",
        "type": "ui_tab",
        "name": "U-type tools line",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]